<div class="bg" style="height: 800px;">
  <div style="text-align:center">
    <br><br>
    <h1>Sistema de Asistencias</h1>
  </div>
  
  <br><br><br>
  
  <div class="form-group" style="text-align:center" *ngIf="!ver">
    <label for="usr"><strong>Nº Legajo:</strong> </label>
    <br>
    <input type="text" class="form-control" style="width: 250px;display: -webkit-inline-box;" [(ngModel)]="legajo">
    <br><br>
    <div class="btn-group">
      <button type="button" class="btn btn-secondary" (click)="getlegajo()">Buscar</button>
    </div>
  </div>
      
  <div *ngIf="ver">

    <div class="form-group" style="text-align:center" >
      <strong>{{hora | date :  "dd-MM-y hh:mm:ss"}}</strong>
      <br>
      <label for="usr"><strong>Persona:</strong> </label>
      <br>
      <input type="text" class="form-control" style="width: 250px;display: -webkit-inline-box;" [(ngModel)]="persona.NOMBRES" disabled>
      <input type="text" class="form-control" style="width: 250px;display: -webkit-inline-box;" [(ngModel)]="persona.APELLIDOS" disabled>
      <input type="text" class="form-control" style="width: 250px;display: -webkit-inline-box;" [(ngModel)]="persona.NRO_DOCUME" disabled>
      <br><br>
    </div>
    <div *ngIf="camara" style="text-align:center">
      <ack-webcam [(ref)]   = "webcam" (success) = "onCamSuccess($event)" (catch)   = "onCamError($event)"></ack-webcam>
      <br><br>
      <div class="btn-group">
        <button type="button" class="btn btn-secondary" (click)="atras()">Atras</button>
      </div>
      <div class="btn-group">
        <button type="button" class="btn btn-secondary" (click)="genBase64()">Tomar Foto</button>
      </div>
    </div>
    <div *ngIf="!camara" style="text-align:center">
      <img src="{{base64}}" alt="" style="width: 400px;">
      <br><br>
      <div class="btn-group">
        <button type="button" class="btn btn-secondary"  (click)="volverCamara()">Volver</button>
      </div>
      <div class="btn-group">
        <button type="button" class="btn btn-secondary" (click)="print()">Asistencia</button>
      </div>
    </div>
    
    <!-- <button (click)="genBase64()"> generate base64 </button>
    <button (click)="genPostData()"> generate post data </button> -->
      
</div>
  <br><br><br><br><br>
  <div  style="text-align:center">
    <!-- <a type="button" class="btn btn-secondary" [routerLink]="['/']">Inicio</a>
    <a type="button" class="btn btn-secondary" [routerLink]="['/asistencia']">Log In</a> -->
    <a type="button" class="btn btn-secondary" [routerLink]="['/lista']">Ver lista de asistencia</a>
  </div>
        
     



